.header {
  background-color: #8dc2fa;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
  margin-right: 20px;
}

.header-nav {
  display: flex;
  align-items: center; /* Ensure the links are vertically aligned with the logo */
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}

.header-nav a:hover {
  text-decoration: underline;
}

.header-user-container {
  display: flex;
  align-items: center;
}

.header-auth-link {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  font-size: 14px;
}

.header-auth-link:hover {
  text-decoration: underline;
}

.header-username {
  color: white;
  font-weight: bold;
  margin-right: 15px;
}

.header-signout-button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.header-signout-button:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-right: 12px;
}

.dropdown-button:hover {
  text-decoration: underline;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 1000;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}
